body {
  background: url(../img/stormy-weather.jpg) no-repeat 0 center fixed;
  background-size: 100%;
  color: black;
}

.container {
  padding: 6px;
}

h1 {
  margin: 20px;
  padding-top: 150px;
}

ul {
  list-style-type: none;
  font-size: 18px;
}

li {
  padding: 10px;
}

